@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --lexend: "Lexend", sans-serif;
  --ibm: "IBM Plex Sans", sans-serif;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --primary: oklch(0.68 0.2114 34.02);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.24 0.0713 252.01);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.68 0.2114 34.02);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --radius: 1rem;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);

  --primary: oklch(0.68 0.2114 34.02);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.24 0.0713 252.01);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.31 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.25 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-lexend: var(--lexend);
  --font-ibm: var(--ibm);

  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-sidebar: var(--sidebar);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-ibm;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
  th,
  th * {
    @apply font-bold!;
  }
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .blur-backdrop {
    @apply bg-background supports-[backdrop-filter]:bg-background/60 backdrop-blur;
  }
  .header-h {
    @apply min-h-20;
  }
  .header-icon {
    @apply text-muted-foreground dark:text-foreground size-5!;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  [aria-invalid="true"] {
    @apply border-destructive dark:border-destructive;
  }

  .hide-num-input {
    @apply [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none;
  }
}

@layer components {
  .small-container {
    @apply mx-auto max-w-5xl;
  }

  .nav-link {
    @apply hover:bg-primary/5 hover:text-primary flex flex-nowrap items-center gap-2 overflow-hidden rounded-md px-4 py-3 text-sm transition-colors outline-none md:text-base;
  }

  .nav-link.active {
    @apply bg-primary/10 text-primary;
  }

  .page-heading {
    @apply text-2xl font-extrabold;
  }

  .page-description {
    @apply text-muted-foreground;
  }

  .Sx9Kwc-haAclf {
    @apply bg-background! text-foreground!;
  }

  .fc-prev-button,
  .fc-next-button {
    @apply flex! size-9! items-center! justify-center! rounded-full!;
  }

  .fc-button-primary {
    @apply text-primary! hover:bg-primary/10! rounded-lg! border-none! bg-transparent! transition-colors! focus:shadow-none! disabled:cursor-not-allowed;
  }

  .fc-today-button {
    @apply border-none! bg-transparent! text-base! capitalize!;
  }

  .fc-toolbar-title {
    @apply font-bold;
  }

  .fc-scrollgrid {
    @apply overflow-hidden rounded-xl;
  }

  .fc-popover {
    @apply bg-card! border-border! overflow-hidden! rounded-xl!;
  }

  .fc-popover-header {
    @apply px-4! text-sm! font-semibold!;
  }

  .fc-highlight {
    @apply bg-secondary/20! dark:bg-secondary/40!;
  }

  .fc-day-today {
    @apply bg-secondary/50! dark:bg-secondary/70! text-primary-foreground!;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
